---
---

@import "{{ site.theme }}";
#footer .credits { font-size: 11px; font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; color: #696969; margin-top: -10px; }
#footer .credits.left { float: left; margin-left: 1em; }
#footer .credits.right { float: right; margin-right: 1em;}

.secret-plan { font-size:large;}
.vertical-align-middle { vertical-align: middle; }